nav{
  text-align: center;
  font-size: x-large;
  padding: 10px;
  display: block;
  border: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: red;
  background-color: aqua;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
 background-color: salmon;
}

header{
  text-align: center;
}

.sectionHeader{
  background-color: white;
  
}

h1{
  font-size: xxx-large;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header img{
  flex-direction: row;
  justify-content: center;
  width: 20%;
  height: auto;
}

.locations-container{
  text-align: center;
  padding: 10px;
  border: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color:red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: rebeccapurple;
  background-color: aqua;
}

.hours-container{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  padding: 10px;
  border: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: blue;
  color: blueviolet;
}

.locations-container h2{
  padding: 2px;
}

.cities-container ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#section2{
  display: flex;
  justify-content: space-around;
}
#section2 img{
  border-radius: 50%;
  width: 20%;
  height: auto;
  object-fit: scale-down;
  object-position: center;
}

.p-section{
  text-align: center;
  font-size: x-large;
  color: rgb(148, 29, 16);
  background-color: azure;

}

.merchandise-container{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.sold-p{
  text-align: center;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: olivedrab;
  background-color: black;
}

.p1{
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color:navy;
  padding: 10px;
  margin: 5px;
}

#city{
  background-color: beige;
  text-align: center;
  padding: 15px;
  border:5px;
  border-style: solid;
  border-color: red;
}

article{
  background-color: aqua;
  text-align: center;
}
table{
  text-align: center;
  background-color: azure;
  margin: 0 auto;
  border: 4px;
  border-style: solid;
  border-color: blue;
}

td {
  padding: 2px;
  border: 2px;
  border-style: solid;
  border-color: black;
}
th{
  padding: 2px;
  border: 2px;
  border-style: solid;
  border-color: black;
}

fieldset{
  text-align: center;
  font-size: larger;
  color: darkgreen;
  border: solid;
  border-width: 5px;
  border-color: rebeccapurple;
}
button{
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkorchid;
}

footer{
  text-align: center;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
